NEW_HOST="new_server.example.com"
NEW_USERNAME="new_admin"
SSH_PASSWORD="password"
NEW_DOMAIN="example.com"
NEW_FORWARDER="8.8.8.8"
FREEIPA_SERVER_FQDN="ipa.example.com"
FREEIPA_SERVER_DOMAIN="example.com"
FREEIPA_SERVER_ADMIN_PASSWORD="CHANGEME"
