NEW_HOST="new_server.example.com"
NEW_USERNAME="new_admin"
SSH_PASSWORD="password"
SSH_PUBLIC_KEY="ssh-rsa AAAAB3NzaC1yc"
SSH_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----"
GITHUB_TOKEN="ghp_1234567890"
NEW_DOMAIN="example.com"
NEW_FORWARDER="8.8.8.8"
KCLI_PIPELINES_GITHUB_TOKEN="ghp_1234567890"
FREEIPA_SERVER_FQDN="ipa.example.com"
FREEIPA_SERVER_DOMAIN="example.com"
FREEIPA_SERVER_ADMIN_PASSWORD="CHANGEME"
