# https://www.vaultproject.io/
export NEW_HOST="new_server.example.com"
export NEW_USERNAME="new_admin"
export SSH_PASSWORD="password"
export NEW_DOMAIN="example.com"
export ZONE_NAME="example.com"
export NEW_FORWARDER="8.8.8.8"
export CICD_ENVIORNMENT="github"
export USE_ROUTE53=true
export FREEIPA_SERVER_FQDN="ipa.${GUID}.example.com"
export FREEIPA_SERVER_DOMAIN="${GUID}.example.com"
export FREEIPA_SERVER_ADMIN_PASSWORD="CHANGEME"
export USE_VAULT=true
export GUID=GUID
export OLLAMA="true"